.DS_Store
node_modules/
node_modules_u盘原始/
node_modules_success/
node_modules_集成formMaking依赖能正常跑起来/
node_modules_集成i18n/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
